*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #000000;
    color: #dbcbcb;
    font-family:  Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 140px;
    background-color: #cecece;
    color: #838073;
    float: right;
}
header div{
    width: 50%;
    float: left;

}
#logo img{
     height: 120px;
}
#top{
    padding-top: 30px;
}
nav{
    width: 100%;
    height: 40px;
    color: rgba(176, 187, 129, 0.801);
    float: left;
    padding: 15px;

}
nav ul{
    list-style: none;
    margin: 5px;
}
nav ul li{
    display: inline;
}
nav ul a{
    text-decoration: none;
    font-size: 24px;
    margin-left: 30px;
    color: rgb(172, 169, 154);
    padding: 20px;

}
nav ul a:hover{
    background-color: rgb(148, 144, 110);
}
main{
    width: 100%;
    float:left;
    margin-top: auto;

}
main div{
    width: 80%;
    margin: 0 auto;
}
.legal{
    width: 80%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.legal img{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}

.pagia{
    width: 80%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.pagia img{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}


footer{
    width: 100%;
    float: left;
    padding: auto;
}
footer p{
    text-align: center;
    font-size: 20px;
    margin: 5px 3px 2px 5px;
    padding: 5px;
}
